*.o
*.so
*.gch
*.pch
*.dll
*.a
*.lib
*.bak
bin_unix/*
src/tess_client
src/tess_server
.idea/
*.gcov
*.gcda
*.gcno
*.srctrldb
*.srctrlbm
*.srctrlprj
# Files auto-produced by VSCode.
.vscode/
# Files auto-produced by CMake
cmake-build-*/
# Documentation files in the docs folder.
docs
