*.o
*.so
*.gch
*.pch
*.dll
*.a
*.lib
*.bak
bin_unix/*
src/tess_client
src/tess_server
test/libprimis_testsuite
.idea/
*.gcov
*.gcda
*.gcno
*.srctrldb
*.srctrlbm
*.srctrlprj
.ionide
# Files auto-produced by CMake
cmake-build-*/
# Documentation files in the docs folder.
docs
# C/C++ language server cache.
.ccls-cache/
# Ignore Code Spell Checker plugin files.
cspell.json
# Ignore html folder produced by Doxygen/Doxywizard.
html/
# Ignore common IDE/code editor directories
.vscode/
src/vcpp/.vs/
src/vcpp/Release64/
src/vcpp/libprimis.vcxproj.user
.clangd
