*.o
*.so
*.gch
*.pch
*.dll
*.a
*.lib
*.bak
bin_unix/*
src/tess_client
src/tess_server
.idea/
*.gcov
*.gcda
*.gcno
*.srctrldb
*.srctrlbm
*.srctrlprj
# Ignore VSCode specific files
.ionide
.vscode
# Files auto-produced by CMake
cmake-build-*/
# Documentation files in the docs folder.
docs
# C/C++ language server cache.
.ccls-cache/
# Ignore Code Spell Checker plugin files.
cspell.json
# Ignore html folder produced by Doxygen/Doxywizard.
html/
