name: Makefile CI (Clang C++20)

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Update package list
      run: sudo apt-get update

    - name: Install dependencies
      run: sudo apt-get install libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libglew-dev clang

    - name: Build
      run: make CXX=clang CPP_20=1 -C src -j4

    - name: Upload libprimis.so artifact
      uses: actions/upload-artifact@v4
      with:
        name: libprimis-linux
        path: ./src/libprimis.so
