name: Makefile Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        cpp_version: [20,23]

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - name: Update package list
      run: sudo apt-get update

    - name: Install dependencies
      run: sudo apt-get install libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libglew-dev gdb valgrind

    - name: Build
      run: make BUILD_TYPE=2 CPP_VERSION=${{ matrix.cpp_version }} -Csrc -j4

    - name: Move library to ld path
      run: sudo cp src/libprimis.so /usr/lib/libprimis.so

    - name: Build test code
      run: cd test && make CPP_VERSION=${{ matrix.cpp_version }} BUILD_TYPE=2

    - name: Run tests with GDB
      run: cd test && gdb --batch -ex "run" -ex "bt full" -ex "quit 0" libprimis_testsuite

    - name: Run tests with Valgrind
      run: cd test && valgrind --leak-check=full --track-origins=yes ./libprimis_testsuite

    - name: Run tests
      run: cd test && ./libprimis_testsuite
